<div class="user_top_space">
<!-- .user_top_space --></div>

<div class="user_container">

  <span class="user_content">

    <span class="user_gravatar">

      <div class="user_gravatar_top">
      <!-- .user_gravatar_top --></div>

      <div class="user_gravatar_image">

        <span class="user_gravatar_left">
        <!-- .user_gravatar_left --></span>

        <span class="user_gravatar_main">
          <%= gravatar_for @user, :size => 92 %>
        <!-- .user_gravatar_main --></span>

      <!-- .user_gravatar_image --></div>

    <!-- .user_gravatar --></span>

    <span class="user_gravatar_email_space">
    <!-- .user_gravatar_email_space --></span>

    <span class="user_email">
      <%= @user.name %>, <%= content_tag(:span, "#{@user.email}", :class => "user_email_content") %>
    <!-- .user_email --></span>

  <!-- .user_container --></span>

  <span class="user_sidebar">

    <span class="user_sidebar_holder">
      <br />
      <strong>Name</strong> <%= @user.name %><br />
      <strong>URL</strong>  <%= link_to user_path(@user), @user %>
      <strong>Microposts</strong> <%= @user.microposts.count %>
    <!-- .user_sidebar_holder --></span>

  <!-- .user_sidebar --></span>

<!-- .user_content --></div>

    <div class="micropost_content">

      <% unless @user.microposts.empty? %>
        <table class="microposts" summary="User microposts">
          <%= render @microposts %>
        </table>
        <%= will_paginate @microposts %>
      <% end %>

    <!-- .micropost_content --></div>

<br />

<br />

