      <div id="footer">

          <div id="footer_top">
          <!-- end #footer_top --></div>

          <div id="footer_navigation">

              <span class="footer_button"><%= link_to "Community", community_path %>
              <!-- end .footer_button --></span>

              <span class="footer_button"><%= link_to "FAQ", faq_path %>
              <!-- end .footer_button --></span>

              <span class="footer_button"><%= link_to "Gallery", gallery_path %>
              <!-- end .footer_button --></span>

              <span class="footer_button"><%= link_to "Multimedia", multimedia_path %>
              <!-- end .footer_button --></span>

              <span class="footer_button"><%= link_to "Help", help_path %>
              <!-- end .footer_button --></span>

              <span class="footer_button"><%= link_to "Ranking", ranking_path %>
              <!-- end .footer_button --></span>

              <span class="footer_button"><%= link_to "Blog", blog_path %>
              <!-- end .footer_button --></span>

              <span class="footer_button"><%= link_to "Contact", contact_path %>
              <!-- end .footer_button --></span>

          <!-- end #footer_navigation --></div>

          <div id="footer_space_text">
          <!-- end #footer_space_text --></div>

          <div id="footer_content">
          <!-- end #footer_content --></div>

          <div id="copyright">© MVA Contest, 2011
          <!-- end #copyright --></div>

      <!-- end #footer --></div>

