  <div id="login_div">

      <div id="login_div_links_holder">Hi Guest, <%= link_to "Log in as a Celll-Monitor member", '#' %> | <%= link_to "Sign Up as a Celll-Monitor member", '#' %>
      <!-- end #login_div_links_holder --></div>

  <!-- end #login_div --></div>

  <div id="logo_div">

      <div id="logo_div_middle">

      	<span id="logo_div_logo">

      	  <%= link_to logo, root_path %>

        <!-- #logo_div_logo --></span>

      	<span id="logo_div_2">
        <!-- #logo_div_2 --></span>

      	<span id="logo_div_counter">
        <!-- #logo_div_counter --></span>

      <!-- end #logo_div_middle --></div>

  <!-- end #logo_div --></div>

      <div id="top_navigation_div">

          <div id="top_navigation_middle_div">

              <span id="top_navigation_left_div">
              <!-- end #top_navigation_left_div --></span>

              <span class="button"><%= link_to "Community", community_path %>
              <!-- end .button --></span>

              <span class="button"><%= link_to "FAQ", faq_path %>
              <!-- end .button --></span>

              <span class="button"><%= link_to "Gallery", gallery_path %>
              <!-- end .button --></span>

              <span class="button"><%= link_to "Multimedia", multimedia_path %>
              <!-- end .button --></span>

              <span class="button"><%= link_to "Help", help_path %>
              <!-- end .button --></span>

              <span class="button"><%= link_to "Ranking", ranking_path %>
              <!-- end .button --></span>

              <span class="button"><%= link_to "Blog", blog_path %>
              <!-- end .button --></span>

              <span class="button"><%= link_to "Contact", contact_path %>
              <!-- end .button --></span>

              <span id="top_navigation_space_div">
              <!-- end #top_navigation_space_div --></span>

              <span id="top_navigation_search_div">
              <!-- end #top_navigation_search_div --></span>

              <span id="top_navigation_right_div">
              <!-- end #top_navigation_right_div --></span>

          <!-- end #top_navigation_middle_div --></div>

      <!-- end #top_navigation_div --></div>

