              <div id="fieldset_body">

                  <span class="fieldset_body_left_gap">
                  <!-- end .fieldset_body_left_gap --></span>

                  <span class="fieldset_body_left">
                  <!-- end .fieldset_body_left --></span>

                  <span id="fieldset_profile_sidebar">

	                  <div id="fieldset_profile_sidebar_inner_top">
                      <!-- end #fieldset_profile_sidebar_inner_top--></div>

                      <div id="fieldset_profile_sidebar_inner_red">

                          <div id="fieldset_profile_sidebar_inner_red_top">
                          <!-- end #fieldset_profile_sidebar_inner_red_top--></div>

                        <div id="fieldset_profile_sidebar_members">
                          <!-- end #fieldset_profile_sidebar_members-->2,124 members</div>

                          <div id="fieldset_profile_sidebar_frame_space">
                          <!-- end #fieldset_profile_sidebar_frame_space --></div>

                          <div id="fieldset_profile_sidebar_frame">

                              <div id="fieldset_profile_sidebar_picture_top_space">
                              <!-- end #fieldset_profile_sidebar_picture_top_space --></div>

                              <div id="fieldset_profile_sidebar_picture_div">

                              <span id="fieldset_profile_sidebar_picture_left_space">
                                  <!-- end #fieldset_profile_sidebar_picture_left_space --></span>

                                  <span id="fieldset_profile_sidebar_picture_final">

                                    <%= gravatar_for @user, :size => 119, :class => "gravatar" %>

                                  <!-- end #fieldset_profile_sidebar_picture_final --></span>

                              <!-- end #fieldset_profile_sidebar_picture_div --></div>

                          <!-- end #fieldset_profile_sidebar_frame --></div>

                          <div class="great_grand_mentor">

                            <%= image_tag("great_grand_mentor.jpg") %>

                          <!-- end .great_grand_mentor --></div>

                        <div class="great_grand_mentor_name"><%= @user.name %>
                          <!-- end .great_grand_mentor_name --></div>

                        <div class="fieldset_profile_sidebar_frame_third_gap">
                          <!-- end .fieldset_profile_sidebar_frame_third_gap --></div>

                          <div class="apprentices">
                          <!-- end .apprentices --></div>

                        <div class="fieldset_profile_sidebar_frame_fourth_gap">
                          <!-- end .fieldset_profile_sidebar_frame_fourth_gap --></div>

                    <div class="apprentices_frame_holder">

                              <span class="apprentices_frame">

                                  <div id="apprentices_picture_top_space">
                                  <!-- end #apprentices_picture_top_space --></div>

                                  <div id="apprentices_picture_div">

                                  	  <span id="apprentices_picture_left_space">
                                      <!-- end #apprentices_picture_left_space --></span>

                                      <span id="apprentices_picture_final">

                                      <%= image_tag("apprentices_picture1.jpg") %>

                                      <!-- end #apprentices_picture_final --></span>

                                  <!-- end #apprentices_picture_div --></div>

                              <!-- end .apprentices_frame --></span>

                              <span class="apprentices_frame_separator">
                              <!-- end .apprentices_frame_separator --></span>

                              <span class="apprentices_frame">

                                  <div id="apprentices_picture_top_space">
                                  <!-- end #apprentices_picture_top_space --></div>

                                  <div id="apprentices_picture_div">

                                  	  <span id="apprentices_picture_left_space">
                                      <!-- end #apprentices_picture_left_space --></span>

                                      <span id="apprentices_picture_final">

                                      <%= image_tag("apprentices_picture2.jpg") %>

                                      <!-- end #apprentices_picture_final --></span>

                                  <!-- end #apprentices_picture_div --></div>

                              <!-- end .apprentices_frame --></span>

                          <!-- end .apprentices_frame_holder --></div>

                          <div class="fieldset_profile_sidebar_frame_fourth_gap">
                          <!-- end .fieldset_profile_sidebar_frame_fourth_gap --></div>

                    <div class="apprentices_name_holder">

                              <span class="apprentices_name">Solomon
                              <!-- end .apprentices_name --></span>

                              <span class="apprentices_name_separator">
                              <!-- end .apprentices_name_separator --></span>

                              <span class="apprentices_name">Shedrach
                              <!-- end .apprentices_name --></span>

                          <!-- end .apprentices_name_holder --></div>

                      <!-- end #fieldset_profile_sidebar_inner_red--></div>

                      <div class="cell_title">Exective Cell
                      <!-- end .cell_title --></div>

                      <div class="fieldset_links">

                          <div class="fieldset_links_main">

                              <div class="fieldset_links_main_cell">

                                  <div class="fieldset_links_main_cell_top">
                                  <!-- end .fieldset_links_main_cell_top --></div>

                                  <div class="fieldset_links_main_cell_text"><a href="">Report</a>
                                  <!-- end .fieldset_links_main_cell_text --></div>

                              <!-- end .fieldset_links_main_cell --></div>

                          <!-- end .fieldset_links_main --></div>

                          <div class="fieldset_links_separator">
                          <!-- end .fieldset_links_separator --></div>

                          <div class="fieldset_links_main">

                              <div class="fieldset_links_main_cell">

                                  <div class="fieldset_links_main_visitations_top">
                                  <!-- end .fieldset_links_main_visitations_top --></div>

                                  <div class="fieldset_links_main_cell_text"><a href="">Visitations</a>
                                  <!-- end .fieldset_links_main_cell_text --></div>

                              <!-- end .fieldset_links_main_cell --></div>

                          <!-- end .fieldset_links_main --></div>

                          <div class="fieldset_links_separator">
                          <!-- end .fieldset_links_separator --></div>

                          <div class="fieldset_links_main">

                              <div class="fieldset_links_main_cell">

                                  <div class="fieldset_links_main_articles_top">
                                  <!-- end .fieldset_links_main_articles_top --></div>

                                  <div class="fieldset_links_main_cell_text"><a href="">Articles</a>
                                  <!-- end .fieldset_links_main_cell_text --></div>

                              <!-- end .fieldset_links_main_cell --></div>

                          <!-- end .fieldset_links_main --></div>

                          <div class="fieldset_links_separator">
                          <!-- end .fieldset_links_separator --></div>

                          <div class="fieldset_links_main">

                              <div class="fieldset_links_main_cell">

                                  <div class="fieldset_links_main_partnership_top">
                                  <!-- end .fieldset_links_main_partnership_top --></div>

                                  <div class="fieldset_links_main_cell_text"><a href="">Partners</a>
                                  <!-- end .fieldset_links_main_cell_text --></div>

                              <!-- end .fieldset_links_main_cell --></div>

                          <!-- end .fieldset_links_main --></div>

                          <div class="fieldset_links_separator">
                          <!-- end .fieldset_links_separator --></div>

                          <div class="fieldset_links_main">

                              <div class="fieldset_links_main_cell">

                                  <div class="fieldset_links_main_about_top">
                                  <!-- end .fieldset_links_main_about_top --></div>

                                  <div class="fieldset_links_main_cell_text"><a href="">About Me</a>
                                  <!-- end .fieldset_links_main_cell_text --></div>

                              <!-- end .fieldset_links_main_cell --></div>

                          <!-- end .fieldset_links_main --></div>

                      <!-- end .fieldset_links --></div>

                  <!-- end #fieldset_profile_sidebar --></span>

                  <span class="fieldset_body_small_gap">
                  <!-- end .fieldset_body_small_gap --></span>

                  <span id="fieldset_body_middle">

                      <div class="fieldset_small_body_title">

                          <span class="fieldset_body_small_member_icons">
                          <!-- end .fieldset_body_small_member_icons --></span>

                          <span class="fieldset_body_small_middle">
                          <!-- end .fieldset_body_small_middle --></span>

                          <span class="fieldset_body_small_right">
                          <!-- end .fieldset_body_small_right --></span>

                      <!-- end .fieldset_small_body_title --></div>

                      <div class="fieldset_small_body_content">

                        <section class="round">
                          <% flash.each do |key, value| %>
                            <%= content_tag(:div, value, :class => "flash #{key}") %>
                          <% end %>
                        </section>

                        <div id="fieldset_content"><%= yield %>
                        <!-- end #fieldset_content --></div>

                      <!-- end .fieldset_small_body_content --></div>

                  <!-- end #fieldset_body_middle --></span>

                  <span class="fieldset_body_left">
                  <!-- end .fieldset_body_left --></span>

              <!-- end #fieldset_body --></div>

